@media screen and (max-width: 600px) {
    .addcli{
        padding-left: 15px;
        margin-top: 10px;
    }
    .printed{
        display: flex;
        margin-bottom: 5px;
    }
    .printed label{
        display: inline-block;
        white-space: nowrap;
    }
    .standard{
        width: auto;
    }
    .buttons button{
        margin-bottom: 4px;
    }
}