<div class="pb-4 pr-4 flex-grow">
    <div class="bg-white rounded-lg flex-grow">
     <div class="p-3 border-b">
         <label class="text-lg font-medium">Add Client</label>
     </div>
 
     <!-- Personal Information -->
     <div class="rounded-lg m-3 p-5 ml-5 mr-5 mt-5 flex-grow" style="background-color: #F0F2F7BF;">
         <label class="text-base font-semibold tracking-wider">Personal Information</label>
         <div class="flex flex-col lg:flex-row mt-3 lg:pr-8">
            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Client ID</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"/>
            </div>
        
            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Title</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>
        
            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">First Name</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>
        
            <div class="flex-grow mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Sur Name</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>
        </div>
        
         <div class="flex flex-col lg:flex-row mt-3 lg:pr-8">
             <div class="flex-grow lg:mr-12 mb-4 lg:mb-0">
                 <label class="text-base font-medium" style="color: #CC0000;">Custom Greetins</label><br/>
                 <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"/>
             </div>
 
             <div class="flex-grow lg:mr-12 mb-4 lg:mb-0">
                 <label class="text-base font-medium" style="color: #CC0000;">Email Address</label><br/>
                 <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
             </div>
 
             <div class="flex-grow lg:mr-12 lg:mb-0">
                 <label class="text-base font-medium" style="color: #CC0000;">Gender</label><br/>
                 <select class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1" style="color: #000000BF;">
                     <option class="text-gray-500" value="" disabled selected>Select</option>
                     <option value="search">Male</option>
                     <option value="filter">Female</option>
                   </select>
             </div>

             <div class="flex-grow lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">&nbsp;</label><br/>
                <input type="text" class="w-full bg-transparent p-2" disabled>
            </div>

         </div>
     </div>
 
    <!-- Address Details -->
    <div class="rounded-lg m-3 p-5 ml-5 mr-5 mt-5 flex-grow" style="background-color: #F0F2F7BF;">
        <label class="text-base font-semibold tracking-wider">Address Details</label>
        <div class="flex flex-col lg:flex-row mt-3 lg:pr-0">
            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Address</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Address</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Address</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Address</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>
        </div>

        <div class="flex flex-col lg:flex-row mt-3 lg:pr-0">
            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">City</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Country</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Post Code</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Username</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1">
            </div>
        </div>

        <div class="flex flex-col lg:flex-row mt-3 lg:pr-0">
            <div class="lg:mt-10 flex-grow lg:mr-10 mb-4 lg:mb-0">
                <div class="flex items-center">
                    <input type="checkbox" class="border-gray-400 mr-4" size="large" kendoCheckBox checked #large />
                    <label>Use&nbsp;standard&nbsp;profile?</label>
                </div>
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0 2xl:w-52">
                <label class="text-base font-medium" style="color: #CC0000;">Customer&nbsp;Profile</label><br/>
                <select class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1 2xl:w-72" style="color: #000000BF;">
                    <option class="text-gray-500" value="" disabled selected>Select</option>
                    <option value="search">option 1</option>
                    <option value="filter">option 2</option>
                  </select>
            </div>

            <div class="lg:mt-10 flex-grow lg:mr-24 mb-4 lg:mb-0 ">
                <div class="flex items-start">
                    <input type="checkbox" class="border-gray-400 mr-4" size="large" kendoCheckBox #large />
                    <label class="text-base">Register Online</label>
                </div>
            </div>
            

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Tags</label><br/>
                <input type="text" placeholder="New tag" class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1 ml">
            </div>
        </div>

        <div class="flex flex-col lg:flex-row mt-3 lg:pr-0 justify-center">
            <div class="flex">
                <img src="../../../assets/manage_clients/add-client/search.png">
                <label>&nbsp;Search with AI</label>
            </div>
        </div>
    </div>

    <!-- Profiling -->
    <div class="rounded-lg m-3 p-5 ml-5 mr-5 mt-5 flex-grow" style="background-color: #F0F2F7BF;">
        <label class="text-base font-semibold tracking-wider">Profiling</label>
        <div class="flex flex-col lg:flex-row mt-3 lg:pr-0">
            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Account Manger</label><br/>
                <select class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1" style="color: #000000BF;">
                    <option class="text-gray-500" value="" disabled selected>Select</option>
                    <option value="search">option 1</option>
                    <option value="filter">option 2</option>
                  </select>
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">Company</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"/>
            </div>

            <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
                <label class="text-base font-medium" style="color: #CC0000;">SIC Code</label><br/>
                <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"/>
            </div>

            <div class="flex-grow mt-8 lg:mr-7 lg:mb-0">
                <button class="bg-white border p-1.5 pl-5 pr-5 mr-0 rounded-lg flex items-center text-white" style="background-color: #29CCB1;">
                    Select
                  </button>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row mt-3 lg:pr-0">
            <div class="ml-1 mt-7 pr-4">
                <input type="checkbox" class="border-gray-400 mr-2" size="large" kendoCheckBox #large />
                <label>Email Newsletter</label>
            </div>

            <div class="ml-0 mt-7 pr-24">
                <input type="checkbox" class="border-gray-400 mr-2" size="large" kendoCheckBox #large />
                <label>Printed Newsletter</label>
            </div>
        </div>

    </div>

    <!-- buttons -->
    <div class="flex">
        <div class="flex flex-col lg:flex-row  mt-5 mr-7 mb-7 ml-auto">
            <button class="pl-4 pr-4 p-2 rounded-lg mr-4 sm:mt-2" style="background-color: #F0F2F7;">Cancel</button>

            <button class="border border-gray-300  rounded-lg p-1.5 pl-3 pr-3 mr-4 sm:mt-2">Save and more</button>

            <button class="bg-white border p-1.5 pl-3 pr-3 mr-0 rounded-lg flex items-center text-white sm:mt-2" style="background-color: #29CCB1;">Save and Finish</button>
        </div>

    </div>
 
 </div>
 </div>
 
 