@media screen and (max-width: 640px) {
    .div1{
        display: block;
    }
    .div2{
        display: block;
    }
    .div3{
        display: block;
    }
    .previewdiv{
        background-color: white;
    border-radius: 15px;
    }
}