<div>
    <!-- textarea  -->
    <div class="">
        <div >
            <textarea class="w-full h-80" [value]="textarea" disabled></textarea>
        </div>
    </div>

    <!-- input aera  -->
    <div>
        <div class="flex">
            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Include in</label><br/>
                <span></span>
            </div>

            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Include in(currently proofing)</label><br/>
                <span></span>
            </div>

            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Source</label><br/>
                <span></span>
            </div>

            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Category</label><br/>
                <span></span>
            </div>
        </div>

        <div class="flex">
            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Profiling: Standard Profiles</label><br/>
                <span></span>
            </div>

            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Newsfeed?</label><br/>
                <span></span>
            </div>

            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Feature this Article</label><br/>
                <span></span>
            </div>

            <div class="flex-grow mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Feature Until</label><br/>
                <span></span>
            </div>
            
        </div>

        <div class="flex">
            <div class="flex-grow  mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Social Media</label><br/>
                <img src="../../../../assets/manage_content/linkedin.png">
            </div>

            <div class="flex-grow  mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Social Media Title</label><br/>
                <span></span>
            </div>

            <div class="flex-grow  mb-4 lg:mb-0 bg-red-200">
                <label class="text-base font-medium" style="color: #CC0000;">Specific Date</label><br/>
                <span></span>
            </div>
        </div>

    </div>

    <div class="flex">
        <div class="ml-auto">
            <button class="pl-4 pr-4 p-2 rounded-lg mr-4 sm:mt-2" style="background-color: #F0F2F7;">Back</button>

            <button class="border border-gray-300  rounded-lg p-1.5 pl-3 pr-3 mr-4 sm:mt-2">Save as draft</button>

            <button class="bg-white border p-1.5 pl-3 pr-3 mr-0 rounded-lg items-center text-white sm:mt-2" style="background-color: #29CCB1;">Save</button>
        
        </div>
    </div>
</div>