<div class="p-3">
    <div class="flex">
        <img src="../../../../assets/dashboard/infolearning.png">
        <h1 class="font-medium text-base ml-2 tracking-wider"><strong>Infolearning</strong></h1>
        <button class="ml-auto mr-2 pl-2 pr-2 border rounded-xl text-sm border-gray-300" style="background-color: white;">View All</button>
    </div>


    <div class="table-container p-3 ">
        <table id="tre" class="w-full">
            <thead class="">
              <tr class="bg-gray-400">
                <th colspan="3" class="text-start">Title</th> 
                <th class="text-start">Status</th>
              </tr>
            </thead>
            <tbody>

                <!-- row1 -->
              <tr>
                <td colspan="3">
                    <div class=" xl:mb-1 lg:mb-0"> 
                        <label class="lg:text-sm xl:text-lg">
                          Tutorial 301 - Anti Money Laundary for Tax Practitioners
                        </label><br/>
                    </div>
                </td>
                <td>
                    <label class=" pr-2 pl-2 rounded-lg mr-1 xl:text-sm p-0.5 font-medium tracking-wider lg:text-xs" style="background-color: #D7FFF8; color: #29CCB1;">ACCOUNTIND STANDARDS</label>
                </td>
              </tr>

              <!-- row 2 -->
              <tr>
                <td colspan="3">
                    <div class=" xl:mb-1 lg:mb-0"> 
                        <label class="lg:text-sm xl:text-lg">
                          Tutorial 300 - Data Protection Act 2018 (GDPR)
                        </label><br/>
                    </div>
                </td>
                <td colspan="2">
                    <label class=" pr-2 pl-2 rounded-lg mr-1 xl:text-sm p-0.5 font-medium tracking-wider lg:text-xs" style="background-color: #FFEDED; color: #F23D3D;">BUSINESS</label>
                </td>
              </tr>

              <!-- row 3 -->
              <tr>
                <td colspan="3">
                    <div class=" xl:mb-1 lg:mb-0"> 
                        <label class="lg:text-sm xl:text-lg">
                          Tutorial 802 - EU VAT e-commerce
                        </label><br/>
                    </div>
                </td>
                <td colspan="2">
                    <label class=" pr-2 pl-2 rounded-lg mr-1 xl:text-sm p-0.5 font-medium tracking-wider lg:text-xs" style="background-color: #FFEDED; color: #F23D3D;">BUSINESS</label>
                </td>
              </tr>

              <!-- row 4 -->
              <tr>
                <td colspan="3">
                    <div class=" xl:mb-1 lg:mb-0"> 
                        <label class="lg:text-sm xl:text-lg">
                          Tutorial 20 - Class 4 NIC
                        </label><br/>
                    </div>
                </td>
                <td colspan="2">
                    <label class=" pr-2 pl-2 rounded-lg mr-1 xl:text-sm p-0.5 font-medium tracking-wider lg:text-xs" style="background-color: #D7FFF8; color: #29CCB1;">NATIONAL INSURANCE & PENSIONS</label>
                </td>
              </tr>

              <!-- row 5 -->
              <tr>
                <td colspan="3">
                    <div class=" mb-0 lg:mb-0"> 
                        <label class="lg:text-sm xl:text-lg">
                          Tutorial 159 - Trading and property allowance
                        </label><br/>
                    </div>
                </td>
                <td colspan="2">
                    <label class=" pr-2 pl-2 rounded-lg mr-1 xl:text-sm p-0.5 font-medium tracking-wider lg:text-xs" style="background-color: #D7FFF8; color: #29CCB1;">INCOME TAX</label>
                </td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>