

  /* Style for the entire table */
.table-container {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style for table header row */
  .table-container thead tr {
    background-color: #F0F2F7; /* Header background color */
    border-radius: 15px; /* Rounded corners for header */
  }
  
  /* Style for table header cells */
  .table-container th {
    padding: 10px;
  }
  
  /* Style for table data cells */
  .table-container td {
    padding: 10px;
    border-top: 1px solid #F0F2F7; /* Add a border between rows */
  }
  
  /* Apply border-radius to the first and last cells in the header row */
  .table-container th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .table-container th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  /* Optional: Add hover effect to rows */
  .table-container tbody tr:hover {
    background-color: #f0f0f0; /* Hover color */
  }
  
@media screen and (max-width: 600px) {
  .table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: small;
  }
}