<div class="pt-3 pl-1 pb-3 pr-1">
    <div class="flex p-1.5">
        <img src="../../assets/dashboard/infomailer.png" class="">
        <h1 class="font-medium text-base ml-2 tracking-wider"><strong>InfoMailer</strong></h1>
        <button class="ml-auto mr-2 pl-2 pr-2 border rounded-xl text-sm">View All</button>
    </div>
    <div class="table-container p-3 xl:mt-2">
        <table id="tre" class="w-full">
            <thead class="">
              <tr class="bg-gray-400">
                <th></th>
                <th class="text-start">Customer</th>
                <th colspan="4" class="p-1">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <img src="../../../../assets/infomailer-dashboard/cus1.png" class="mr-3 lg:mr-8 xl:mr-1">
                </td>
                <td class="lg:mb-0">
                    <div class="lg:mb-0"> 
                        <label class="xl:text-base lg:text-sm ">Demo Campaign - First</label><br/>
                        <label class="k-font-size-md text-gray-500 lg:text-xs xl:text-xs" >November 9,2022 11:00AM</label>
                    </div>
                </td>
                <td class="xl:text-start">
                    <label class="ml-6 pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider xl:text-xs" style="background-color: #EBF5FF; color: #3399FF;">UNPAID</label>
                </td>
              </tr>

              <tr>
                <td>
                    <img src="../../../../assets/infomailer-dashboard/cus2.png" class="lg:mr-8">
                </td>
                <td>
                  <div class="lg:mb-0 ">
                        <label class="lg:text-sm xl:text-base">Mery Christmas & Happy New Year</label><br/>
                        <label class="k-font-size-md text-gray-500 lg:text-xs xl:text-xs">November 9,2022 11:00 AM</label>
                  </div>
                </td>
                <td>
                    <label class="ml-6 pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider xl:text-xs" style="background-color: #FFF6D7; color: #FFBF00;">SCHEDULED</label>
                </td>
              </tr>

              <tr>
                <td>
                    <img src="../../../../assets/infomailer-dashboard/cus3.png" class="lg:mr-8">
                </td>
                <td>
                  <div class="lg:mb-0 xl:mb-0.5">
                        <label class="lg:text-sm xl:text-base">Bank Holiday 19th September 2022</label><br/>
                        <label class="k-font-size-md text-gray-500 lg:text-xs xl:text-xs">November 9,2022 11:00 AM</label>
                  </div>
                </td>
                <td>
                    <label class="ml-6 pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider xl:text-xs" style="background-color: #D7FFF8; color: #29CCB1;">SCHEDULED</label>
                </td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>

