<div class="flex flex-col lg:flex-row mt-3 lg:pr-8">
    <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
        <label class="text-base font-medium" style="color: #CC0000;">Article Title</label><br/>
        <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"/>
    </div>

    <div class="flex-grow lg:mr-7 mb-4 lg:mb-0">
        <label class="text-base font-medium" style="color: #CC0000;">Source</label><br/>
        <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"/>
    </div>
    
    <div>
        <label class="text-base font-medium" style="color: #CC0000;">Attach Image</label><br/>
          <div class="drop-zone w-96" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
            <p>Drop files here or click to upload</p>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" [disabled]="uploading" class="mt-5 ">
          </div>
          
          <div *ngIf="file && !uploadComplete" class="mt-5">
            <p>{{ file.name }}</p>
            <div *ngIf="uploading" class="flex">
                <div class="progress">
                  <div class="progress-bar" [style.width.%]="progress">
                 
                  </div>
                </div>
                <div *ngIf="uploading">
                <img src="../../../assets/manage_content/x-circle.png" (click)="cancelUpload()" class="w-3 h-3 mt-1 ml-2">
                </div>
                <!-- <button  [disabled]="!uploading">Cancel</button> -->

            </div>
            <p>{{ formatFileSize(file.size) }}</p>
            <!-- <button (click)="uploadFile()" [disabled]="uploading">Upload</button> -->
          </div>
          
          
          
          <div *ngIf="uploadComplete" class="mt-5 w-40 bg-slate-300">
            <button (click)="deselectFile()"><img src="../../../assets/manage_content/x-circle.png"></button>
            <img [src]="fileUrl" alt="Uploaded File">
          </div>
          
    </div>
</div>
    <div class="editor flex-col">
        <button onclick="executeCommand('bold')">B</button>
        <button onclick="executeCommand('italic')">I</button>
        <button onclick="executeCommand('underline')">U</button>
        <button onclick="executeCommand('insertOrderedList')">OL</button>
        <button onclick="executeCommand('insertUnorderedList')">UL</button>
        <button onclick="insertImage()">Image</button>
        <button onclick="insertLink()">Link</button>
        <button onclick="insertCodeBlock()">Code</button>
        <button onclick="alignLeft()">Left</button>
        <button onclick="alignCenter()">Center</button>
        <button onclick="alignRight()">Right</button>
      </div>
      
      <div class="editor">
        <textarea id="editor" rows="10" cols="50"></textarea>
      </div>
      

    

