<div class="bodydiv pb-4 mt-4 pr-4 flex-grow">
    <div class="bg-white rounded-lg flex-grow">
        <div class="p-3 border-b">
            <label class="text-lg font-medium">Manage Articles</label>
        </div>

        <!-- Search options -->
        <div class="rounded-lg m-3 p-5 ml-5 mr-5 mt-5 flex-grow" style="background-color: #F0F2F7BF;">
            <div class="flex flex-col lg:flex-row mt-3 lg:pr-8">
                <div class="flex-grow lg:mr-12 lg:mb-0">
                    <label class="text-base font-medium" style="color: #CC0000;">Search</label><br />
                    <select [(ngModel)]="searchInput" class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"
                        style="color: #000000BF;">
                        <option class="text-gray-500" value="" disabled selected>Select</option>
                        <option value="search">Male</option>
                        <option value="filter">Female</option>
                    </select>
                    <div class="flex ml-auto justify-end items-end">
                        <label class="text-sm tracking-wider">Searching in Id, Title, Content, Source (Any)</label>
                    </div>
                </div>

                <div class="categorydiv flex-grow lg:mr-12 lg:mb-0">
                    <label class="text-base font-medium" style="color: #CC0000;">Category</label><br />
                    <select [(ngModel)]="categoryInput"
                        class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1" style="color: #000000BF;">
                        <option class="text-gray-500" value="" disabled selected>Select</option>
                        <option value="search">Male</option>
                        <option value="filter">Female</option>
                    </select>
                </div>

                <div class="ml-1 mt-7 pr-4 mr-12">
                    <input [(ngModel)]="dateInput" type="checkbox" class="border-gray-400 mr-2" size="large"
                        kendoCheckBox #large />
                    <label>Choose a Date</label>
                </div>

                <div class="flex-grow  mt-4">
                    <kendo-datepicker [disabled]="!dateInput" [value]="valuedate"
                        class="p-1.5 rounded-xl bg-transparent"></kendo-datepicker>
                </div>
            </div>


            <div class="lg:flex">
                <div class="Agencydiv flex-grow lg:mr-12 lg:mb-0 ">
                    <label class="text-base font-medium" style="color: #CC0000;">Agency</label><br />
                    <select [(ngModel)]="agencyInput" class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1"
                        style="color: #000000BF;">
                        <option class="text-gray-500" value="" disabled selected>Select</option>
                        <option value="search">Male</option>
                        <option value="filter">Female</option>
                    </select>
                </div>

                <div class="Qualificationdiv flex-grow lg:mr-12 lg:mb-0">
                    <label class="text-base font-medium" style="color: #CC0000;">Qualification</label><br />
                    <select [(ngModel)]="qualificationInput"
                        class="w-full bg-white border border-gray-400 rounded-lg p-2 mt-1" style="color: #000000BF;">
                        <option class="text-gray-500" value="" disabled selected>Select</option>
                        <option value="search">Male</option>
                        <option value="filter">Female</option>
                    </select>
                </div>

                <div class="btndiv flex ml-auto justify-end items-end mr-8">
                    <button class="border border-gray-300 bg-white rounded-lg p-1.5 pl-3 pr-3 mr-4 sm:mt-2"
                        (click)="clear()">Clear</button>

                    <button class="bg-white border p-1.5 pl-3 pr-3 mr-0 rounded-lg flex items-center text-white sm:mt-2"
                        style="background-color: #29CCB1;">
                        Search
                        <img src="../../../../assets/manage_content/search.png" class="ml-3">
                    </button>
                </div>
            </div>
        </div>

        <div class="p-4">
            <div class="table-container xl:p-3 sm:pt-3 flex-grow ">
                <table id="tre" class="lg:flex-grow xl:flex-grow md:w-full sm:w-11/12">
                    <thead class="">
                        <tr class="bg-gray-400">
                            <th class="text-start justify-start">
                                <input type="checkbox" class="border-gray-400" size="large" [(ngModel)]="selectAll"
                                    (change)="toggleSelectAll()" kendoCheckBox checked #large />
                            </th>
                            <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">
                                <div class="flex">
                                    Images
                                </div>
                            </th>
                            <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs ">
                                <div class="flex">
                                    Title
                                </div>
                            </th>
                            <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">
                                <div class="flex">
                                    Published Date
                                </div>
                            </th>
                            <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">
                                <div class="flex">
                                    Newsfeed
                                </div>
                            </th>
                            <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">
                                <div class="flex">
                                    Type
                                </div>
                            </th>
                            <th class="text-start"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row1 -->
                        <tr *ngFor="let client of paginatedData">
                            <td>
                                <input type="checkbox" class="border-gray-400 " [(ngModel)]="client.selected"
                                    size="large" kendoCheckBox checked #large />
                            </td>
                            <td class="ava flex">
                                <!-- <span class="avatar pt-1 mr-3 font-medium sm:mr-1 sm:text-xs" [style.background-color]="avaColorservice(client.surname.charAt(0) )">{{ client.surname.charAt(0) }}</span> -->
                                <img src="../../../../assets/history/Avatar.png">
                            </td>
                            <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg">{{ client.arcticles }}</td>
                            <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg ">{{ client.published_date }}</td>
                            <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg ">{{ client.newsfeed }}</td>
                            <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg ">{{ client.type }}</td>
                            <td>
                                <img src="../../../assets/manage_clients/table_buton.png"
                                    class="cursor-pointer sm:mr-0 sm:w-5 sm:h-5"
                                    (click)="togglePanelVisibility(client.clientId)">

                                <div *ngIf="panel && (client.clientId == panelid)"
                                    class="imgpanel absolute bg-white border border-gray-300 k-min-w-max mt-0 py-3 md:right-16 xl:right-20 sm:right-8 2xl:right- rounded-lg shadow-lg pl-5 pr-5">
                                    <button (click)="handleViewArticleClick(client.clientId)"
                                        class="drpbtn flex py-2 w-full">
                                        <img src="../../../../assets/manage_content/view_art.png" class="mr-1.5">
                                        View Article
                                    </button>
                                    <button (click)="handleEditClick(client.clientId)" class="drpbtn flex py-2 w-full">
                                        <img src="../../../assets/manage_clients/edit.png" class="mr-1.5">
                                        Edit
                                    </button>
                                    <button (click)="handleEditWithAIClick(client.clientId)"
                                        class="drpbtn flex py-2 w-full">
                                        <img src="../../../../assets/manage_content/edit-2.png" class="mr-1.5">
                                        Edit with AI</button>
                                    <button (click)="handleDeleteClick(client.clientId)"
                                        class="drpbtn flex py-2 w-full">
                                        <img src="../../../../assets/manage_content/del.png" class="mr-1.5">
                                        Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>



            </div>

            <!-- pagination of table -->
            <div class="pagination flex justify-between border-t p-2 flex-grow">

                <div class="pagination-info">
                    <span class="text-sm">
                        <!-- {{ (currentPage - 1) * itemsPerPage + 1 }} - -->
                        {{ calculateMaxValue() }}
                        <span class="text-sm text-gray-400">
                            OF
                            {{ totalItems }}
                        </span>
                    </span>
                </div>

                <div class="pagination-controls flex">
                    <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1"
                        class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black mr-4"
                        [ngClass]="{'disabled-button': currentPage === 1}">
                        < </button>


                            <div class="border rounded-md py-1 pl-1.5 pr-1.5">
                                <ng-container *ngFor="let page of getPages() | slice:0:4">
                                    <button [disabled]="currentPage === page" (click)="currentPage = page"
                                        class="pagibtn rounded-md pt-0 pb-0 pr-2 pl-2 text-sm">{{ page }}</button>
                                </ng-container>
                            </div>

                            <button [disabled]="currentPage * itemsPerPage >= totalItems"
                                (click)="currentPage = currentPage + 1"
                                class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black ml-4"
                                [ngClass]="{'disabled-button': currentPage * itemsPerPage >= totalItems}">
                                >
                            </button>
                            <!-- <button [disabled]="currentPage * itemsPerPage >= totalItems" (click)="currentPage = currentPage + 1" class="border rounded-md mt-1.5 mb-1.5 pl-1.5 pr-1.5 text-base ml-4">></button> -->
                </div>

                <div class="pagination-jump">
                    <span class="text-xs text-gray-400">JUMP TO &nbsp; </span>
                    <input type="number" [(ngModel)]="currentPage" min="1" max="{{ totalPages }}"
                        class="border text-center text-xs p-1 mr-2 rounded-lg" />
                    <button (click)="jumpToPage()"></button>
                </div>
            </div>
        </div>
    </div>
</div>