<div class="p-3 ">
    <div class="flex p-1.5">
        <img src="../../../../assets/dashboard/book.png" class="w-7 h-7">
        <h1 class="font-medium text-base ml-2 tracking-wider"><strong>File & Sign</strong></h1>
        <button class="ml-auto mr-2 pl-2 pr-2 rounded-xl text-sm" style="background-color: white; border: 1px;">View All</button>
    </div>

    <div class="p-0.5 w-fit rounded-lg" style="background-color: #F0F2F7;">
        <div class="button-group">
            <button [ngClass]="{'active': activeButton === 1}" (click)="setActive(1)" class="rounded-lg lg:text-xs xl:text-base">RECENTLY RECEIVED DOCUMENTS</button>
            <button [ngClass]="{'active': activeButton === 2}" (click)="setActive(2)" class="rounded-lg lg:text-xs xl:text-base">RECENTLY SENT DOCUMENTS</button>
          </div>
    </div>
   

    
    <div class="table-container p-1.5 pt-2 xl:mt-2 ">
        <table id="tre" class="sm:w-20 md:w-full xl:w-full">
            <thead class="">
              <tr class="bg-gray-400">
                <th class="text-start">Message</th> 
                <th class="text-start">Company</th>
                <th class="text-start">From</th>
                <th class="text-start">Date</th>
                <th class="text-start">Status</th>
              </tr>
            </thead>
            <tbody>
                <!-- row1 -->
              <tr>
                <td>
                    <div class="xl:mb-1 lg:mb-0"> 
                        <label class="">Message Content Here</label><br/>
                    </div>
                </td>
                <td>
                    <label>Infomanagement</label><br/>
                </td>
                <td>
                    <label>Oct 3, 2022</label><br/>
                </td>
                <td>
                    <label>Oct 3, 2022</label><br/>
                </td>
                <td>
                    <label class=" pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider" style="background-color: #FFEDED; color: #F23D3D;">UNSOLVED</label>
                </td>
              </tr>

              <!-- row2 -->
              <tr>
                <td>
                    <div class="xl:mb-1 lg:mb-0"> 
                        <label>Message Content Here</label><br/>
                    </div>
                </td>
                <td>
                    <label>Infomanagement</label><br/>
                </td>
                <td>
                    <label>Oct 3, 2022</label><br/>
                </td>
                <td>
                    <label>Oct 3, 2022</label><br/>
                </td>
                <td>
                    <label class=" pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider" style="background-color: #FFFBED; color: #FFBF00;">SCHEDULE</label>
                </td>
              </tr>

                 <!-- row3 -->
                 <tr>
                    <td>
                        <div class="xl:mb-1 lg:mb-0"> 
                            <label>Message Content Here</label><br/>
                        </div>
                    </td>
                    <td>
                        <label>Infomanagement</label><br/>
                    </td>
                    <td>
                        <label>Oct 3, 2022</label><br/>
                    </td>
                    <td>
                        <label>Oct 3, 2022</label><br/>
                    </td>
                    <td>
                        <label class="xl:pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider" style="background-color: #FFEDED; color: #F23D3D;">UNSOLVED</label>
                    </td>
                  </tr>

                     <!-- row 4 -->
              <tr>
                <td>
                    <div class="xl:mb-1 lg:mb-0"> 
                        <label>Message Content Here</label><br/>
                    </div>
                </td>
                <td>
                    <label>Infomanagement</label><br/>
                </td>
                <td>
                    <label>Oct 3, 2022</label><br/>
                </td>
                <td>
                    <label>Oct 3, 2022</label><br/>
                </td>
                <td>
                    <label class=" pr-2 pl-2 rounded-lg mr-1 text-sm p-0.5 font-medium tracking-wider" style="background-color: #FFEDED; color: #F23D3D;">UNSOLVED</label>
                </td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>

