.switch-container {
    position: relative;
}

.switch1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s;
}

#toggleSwitch1 {
    display: none;
}

#toggleSwitch1:checked + .switch1 {
    background-color: #FFEDED; /* Change color when switched on */
}

.switch1::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

#toggleSwitch1:checked + .switch1::before {
    transform: translateX(20px); /* Move the knob to the right when switched on */
    background-color: #CC0000;
}

.switch2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s;
}

#toggleSwitch2 {
    display: none;
}

#toggleSwitch2:checked + .switch2 {
    background-color: #FFEDED; /* Change color when switched on */
}

.switch2::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

#toggleSwitch2:checked + .switch2::before {
    transform: translateX(20px); /* Move the knob to the right when switched on */
    background-color: #CC0000;
}

.switch3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s;
}

#toggleSwitch3 {
    display: none;
}

#toggleSwitch3:checked + .switch3 {
    background-color: #FFEDED; /* Change color when switched on */
}

.switch3::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

#toggleSwitch3:checked + .switch3::before {
    transform: translateX(20px); /* Move the knob to the right when switched on */
    background-color: #CC0000;
}

.button-group {
    display: flex;
}

.inputbtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #f0f2f7;
    margin-right: 10px; /* Adjust margin for spacing between buttons */
}
.active {
    background-color: #fff;
    accent-color: red;
}

.drop-zone {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .file-input-label {
    display: inline-block;
    background-color: #29CCB1;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hide the default file input style */
  .file-input-label input {
    display: none;
  }
  