<div class="sercli pb-4 flex-grow h-full">
    <div class="bg-white mb-5 mt-3 mr-7 rounded-3xl">
  
      <div class="headerdiv flex border-b border-gray-300">
        <label class="flex  pt-6 pb-5 pl-6 text-2xl">New Post</label>
      </div>

      <div class="lg:flex pb-5">
            <div class="flex-grow pl-4">
                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Title</label><br/>
                    <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-300 rounded-lg p-2 mt-1">
                </div>

                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Post Image</label><br/>
                    <div class="bg-slate-50 flex-grow">
                          <div class="drop-zone flex-grow" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                            <p class="text-sm text-gray-500 mt-6">JPG, PNG, GIF, WEBP</p>
                            <p class="text-sm text-gray-500 mt-6">Max File Size: 3mb</p>
                            <input id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*" [disabled]="uploading" class="mt-6 mb-3">
                          </div>    
                    </div>
                </div>

                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Description</label><br/>
                    <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-300 rounded-lg p-2 mt-1">
                </div>

                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Link</label>
                    <label class="text-gray-300 text-sm ml-3">Link is required if you add an image/article</label><br/>
                    <input type="text" placeholder="Enter Here..." class="w-full bg-white border border-gray-300 rounded-lg p-2 mt-1">
                </div>
            </div>

            <div class="flex-grow pl-4">
                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Hashtags</label><br/>
                    <input type="text" placeholder="#default" class="w-full bg-white border border-gray-300 rounded-lg p-2 mt-1">
                </div>

                <!-- social media switchs -->
                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Social Media</label><br/>

                    <div class="flex mt-4">
                        <div class="flex">
                            <img src="../../../assets/social-media/linkdien.png" class="mr-3">
                            <label class="text-gray-500">Linkedin</label>
                        </div>

                        <div class="ml-auto mr-12">
                            <div class="switch-container">
                                <input type="checkbox" id="toggleSwitch1" class="hidden">
                                <label for="toggleSwitch1" class="switch1"></label>
                            </div>
                        </div>
                    </div>

                    <div class="flex mt-5">
                        <div class="flex">
                            <img src="../../../assets/social-media/facebook.png" class="mr-3">
                            <label class="text-gray-500">Facebook</label>
                        </div>
                        
                        <div class="ml-auto mr-12">
                            <div class="switch-container">
                                <input type="checkbox" id="toggleSwitch2" class="hidden">
                                <label for="toggleSwitch2" class="switch2"></label>
                            </div>
                        </div>
                    </div>

                    <div class="flex mt-5">
                        <div class="flex">
                            <img src="../../../assets/social-media/instagram.png" class="mr-3">
                            <label class="text-gray-500">Instagram</label>
                        </div>

                        <div class="ml-auto mr-12">
                            <div class="switch-container">
                                <input type="checkbox" id="toggleSwitch3" class="hidden">
                                <label for="toggleSwitch3" class="switch3"></label>
                            </div>
                        </div>
                    </div>

                    <div class="flex mt-5">
                        <div class="flex">
                            <img src="../../../assets/social-media/twitter.png" class="mr-3">
                            <label class="text-gray-500">Twitter</label>
                        </div>

                        <div class="ml-auto">
                            <button  class="border border-gray-300 text-base rounded-lg px-3 py-0.5">CONNECT</button>
                        </div>
                    </div>

                </div>

                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Publish Date & Time</label><br/>

                    <div class="flex rounded-lg mt-4">
                        <div class="button-group flex-grow flex p-1 rounded-lg" style="background-color: #F0F2F7;">
                            <div [ngClass]="{'active': selectedOption === 'schedule'}" class="flex-grow p-1 rounded-lg flex items-center justify-center">
                                <input type="radio" class="custom-radio" (click)="setActive('schedule')" [(ngModel)]="selectedOption" value="schedule" class="inputbtn rounded-lg lg:text-xs xl:text-base">
                                <label class="ml-2">Schedule</label>
                            </div>
                            
                            <div [ngClass]="{'active': selectedOption === 'post_now'}" class="flex-grow p-1 rounded-lg flex items-center justify-center">
                                <input type="radio" (click)="setActive('post_now')" class="custom-radio" [(ngModel)]="selectedOption" value="post_now" class="inputbtn rounded-lg lg:text-xs xl:text-base">
                                <label class="ml-2">Post Now</label>
                            </div>
                        </div>
                    </div>
                    

                    <div class="flex space-x-3 mt-5">
                        <div class="flex-grow">
                            <kendo-datepicker [value]="valuedate" class="p-1.5 rounded-xl"></kendo-datepicker>
                        </div>

                        <div class="flex-grow">
                            <kendo-timepicker [value]="valuetime" class="p-1.5 rounded-xl"></kendo-timepicker>
                        </div>
                    </div>
                </div>

                <div class="flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <label class="text-base font-medium" style="color: #CC0000;">Category</label><br/>
                    <select class="w-full bg-white border border-gray-300 rounded-lg p-2 mt-1" style="color: #000000BF;">
                        <option class="text-gray-500" value="" disabled selected>All</option>
                        <option value="search">opt1</option>
                        <option value="filter">opt2</option>
                    </select>
                </div>

                <div class="flex flex-grow mr-7 mb-4 lg:mb-0 mt-5">
                    <button class="pl-4 pr-4 p-2 rounded-lg mr-4 sm:mt-2" style="background-color: #F0F2F7;">Discard</button>

                    <div class="flex ml-auto">
                      <button class="border border-gray-300  rounded-lg p-1.5 pl-3 pr-3 mr-4 sm:mt-2">Preview</button>

                      <button class="bg-white border p-1.5 pl-3 pr-3 mr-0 rounded-lg flex items-center text-white sm:mt-2" style="background-color: #29CCB1;">Save</button>
                    </div>

                </div>
            </div>
      </div>
    </div>
</div>