.bg-img {
  background-image: url("../assets/bg-img/bg.png");
}

/* Add a maximum height if needed */
.max-h-[value] {
  max-height: [value];
}

.quicmd {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  /* Styles for small screens go here */
  .bg-img{
    background-image: url("../assets/bg-img/358871.webp");
  }

  /* Add this CSS to your stylesheet */


}
