<!-- <div class="bg-slate-500 k-h-screen h-screen"> -->
<div *ngIf="!isMobile" class="bg-img bg-cover object-cover w-full" >
  <div class="flex">
    
    

    <!-- for window -->
      <div class="p-1 h-screen">
        <app-sidebar></app-sidebar>
      </div>

    <!-- ml-56 mr-8 h-fit overflow-y-auto -->
    <div class="2xl:ml-72 xl:ml-72 sm:ml-56 md:ml-64 lg:ml-60 h-fit flex-grow">
      <div class="xl:ml-7 lg:ml-5 md:ml-2 mt-4">
        <div>
          <div class="md:flex lg:flex">
            <!-- routing -->
            <div class="flex">
              <img src="../../assets/dashboard/home-icon.png" class="cursor-pointer" />
              <img src="../assets/dashboard/route-arrow.png" alt="Image" class="w-3 h-3 mt-3 ml-0.5" />
              <div [innerHTML]="routeName" class="flex text-gray-500 mt-2 ml-2"></div>
            </div>

            <!-- quick command -->
            <div class="quicmd flex flex-grow">
              <div class="relative">
                <input type="text" placeholder="Quick Commands"
                  class="px-4 py-0.5 mt-1 rounded-3xl border border-gray-300 focus:outline-none focus:border-red-500 bg-transparent" />
                <span class="absolute right-3 top-2.5 text-xs text-gray-400">CTRL+K</span>
              </div>
            </div>

            <!-- icons -->
            <div class="flex p-2 mr-5 ml-auto">
              <img src="../../assets/dashboard/moon.png" class="mr-5 cursor-pointer" />
              <img src="../../assets/dashboard/notificationbing.png" class="mr-5 cursor-pointer" />
              <img src="../../assets/dashboard/messages.png" class="mr-5 cursor-pointer" />
              <img src="../../assets/dashboard/usersquare.png" class="mr-0 cursor-pointer" />
            </div>
          </div>
          <div class="flex-grow h-fit">
            <div *ngIf="!routeName" class="h-screen"></div>
            <div class="">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>

        <!-- <app-dashboard></app-dashboard> -->
        <!-- <app-search-clients></app-search-clients> -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- for mobile -->
<div *ngIf="isMobile" class="flex flex-col">
  <!-- header -->
  <div class=" sticky flex items-center justify-between p-2 bg-white round">
    <div class="flex items-center">
      <app-sidebar></app-sidebar>
      <img src="../../assets/sidebar/informanagemt.png" class="w-52 h-8" />
    </div>
    <div class="flex items-center">
      <img src="../../assets/dashboard/moon.png" class="mr-1 w-5 h-5" />
      <img src="../../assets/dashboard/notificationbing.png" class="mr-1 w-5 h-5" />
      <img src="../../assets/dashboard/messages.png" class="mr-1 w-5 h-5" />
      <img src="../../assets/dashboard/usersquare.png" class="mr-1 w-5 h-5" />
    </div>
  </div>

  <!-- main div -->
  <div class=" top-0 left-0 w-full h-full overflow-y-auto bg-slate-300">
    <router-outlet></router-outlet>
  </div>
</div>