<!-- <div class="bg-slate-500 k-h-screen h-screen"> -->
<div class=" bg-img bg-cover w-screen object-cover" >
  <div class="flex w-screen">
    <div class="w-28 p-4 flex h-screen">
      <app-sidebar></app-sidebar>
    </div>

  <!-- ml-56 mr-8 h-fit overflow-y-auto -->
  <div class=" mr-8 h-fit overflow-y-hidden"> 
    
    <div class="ml-10 mt-4">
      
      <div class="flex">
        <!-- routing -->
        <img src="../../assets/dashboard/home-icon.png" class="sm:ml-24 md:ml-28 lg:ml-44 xl:ml-48" />
      
        <!-- quick command -->
      
        <!-- icons -->
        <div class="flex p-2 ml-auto">
          <img src="../../assets/dashboard/moon.png" class="mr-5" />
          <img src="../../assets/dashboard/notificationbing.png" class="mr-5" />
          <img src="../../assets/dashboard/messages.png" class="mr-5" />
          <img src="../../assets/dashboard/usersquare.png" class="mr-0" />
        </div>
      </div>
      <div class="sm:ml-24 md:ml-28 lg:ml-44 xl:ml-44 2xl:ml-44">
        <router-outlet></router-outlet>
      </div>
      
      <!-- <app-dashboard></app-dashboard> -->
      <!-- <app-search-clients></app-search-clients> -->
    </div>
  </div>
</div>
</div>
<!-- </div> -->


