.bg-img {
  background-image: url("../assets/bg-img/bg.png");
  background-color: blue;
}

/* Add a maximum height if needed */
.max-h-[value] {
  max-height: [value];
}

.quicmd {
  justify-content: center;
}
