<div class="pb-4 flex-grow">
  <div class="bg-white mb-5 mt-3 rounded-3xl flex-grow">

    <label class="flex border-b border-gray-300 pt-6 pb-5 pl-6 text-2xl">Search Clients</label>
    
    <div class="xl:flex lg:flex flex-grow">
          <div *ngIf="add_filter">
                  <!-- filters -->
          <div class=" border-gray-300 2xl:border-b-transparent sm:border-b flex-grow lg:border-b-transparent pl-4">
            
          <div class="flex pl-4 pr-4 pt-4 pb-2 flex-grow">
              <label class="pr-52 ml-4 sm:text-sm sm:ml-2.5 sm:pr-0 lg:text-lg xl:text-lg" style="color: #999999;">Filters</label>
              <img src="../../../assets/manage_clients/filter.png" class="ml-auto w-5 h-5 sm:w-4 sm:h-4">
          </div>
              <!-- filter div -->
          <div class="md:flex lg:flex-col">
            <!-- filter  -->
          <div class="sm:flex md:flex-col lg:flex-col xl:flex-col">
            <div class="flex pt-6 pb-2 sm:pt-1 sm:pb-1">
              <input
              type="radio"
              class="chkbx1 "
              size="none"
              id="chkbx1"
              name="chkbx1"
              (click)="toggleChecked(0)"
              [checked]="isChecked[0]"
            />
            
            <h6><label class="ml-4 sm:text-sm sm:text-center xl:text-base lg:text-base">Register&nbsp;Online</label></h6>
            </div>
  
            <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:ml-10 xl:ml-0 md:ml-0">
              <input
              type="radio"
              class="chkbx2"
              size="none"
              id="chkbx2"
              name="chkbx2"
              (click)="toggleChecked(1)"
              [checked]="isChecked[1]"
            />
            
            <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">Register&nbsp;Offline</label></h6>
            </div>
          </div>
  
          <div class="sm:flex md:flex-col xl:flex-col">
            <div class="flex pt-5 pb-2  sm:pt-1 sm:pb-1">
              <input
              type="radio"
              class="chkbx3"
              size="none"
              id="chkbx3"
              name="chkbx3"
              (click)="toggleChecked(2)"
              [checked]="isChecked[2]"
            />
            
            <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">Printed&nbsp;Newsletter</label></h6>
            </div>
  
            <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:ml-5 xl:ml-0 md:ml-0">
              <input
              type="radio"
              class="chkbx4"
              size="none"
              id="chkbx4"
              name="chkbx4"
              (click)="toggleChecked(3)"
              [checked]="isChecked[3]"
            />
            
            <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">No&nbsp;Printed&nbsp;Newsletter?</label></h6>
            </div>
          </div>
  
            <div class="sm:flex md:flex-col xl:flex-col">
              <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1">
                <input
                type="radio"
                class="chkbx5"
                size="none"
                id="chkbx5"
                name="chkbx5"
                (click)="toggleChecked(4)"
                [checked]="isChecked[4]"
              />
              
              <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">Email&nbsp;Newsletter</label></h6>
              </div>
    
              <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:ml-7 xl:ml-0 md:ml-0">
                <input
                type="radio"
                class="chkbx6"
                size="none"
                id="chkbx6"
                name="chkbx6"
                (click)="toggleChecked(5)"
                [checked]="isChecked[5]"
              />
              
              <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">NoEmail&nbsp;Newsletter?</label></h6>
              </div>
            </div>
  
            <div class="sm:flex md:flex-col xl:flex-col">
              <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:mr-2">
                <input
                type="radio"
                class="chkbx7"
                size="none"
                id="chkbx7"
                name="chkbx7"
                (click)="toggleChecked(6)"
                [checked]="isChecked[6]"
              />
              
              <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">Male</label></h6>
              </div>
    
              <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:ml-24 xl:ml-0 md:ml-0">
                <input
                type="radio"
                class="chkbx8"
                size="none"
                id="chkbx8"
                name="chkbx8"
                (click)="toggleChecked(7)"
                [checked]="isChecked[7]"
              />
              
              <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">Female</label></h6>
              </div> 
            </div>
          </div>
  
            <div class="sm:flex md:flex xl:flex-col lg:flex-col">
              <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:mr-3">
                <input
                type="radio"
                class="chkbx9"
                size="none"
                id="chkbx9"
                name="chkbx9"
                (click)="toggleChecked(8)"
                [checked]="isChecked[8]"
              />
              
              <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">Unknown</label></h6>
              </div>
    
              <div class="flex pt-5 pb-2 sm:pt-1 sm:pb-1 sm:ml-16 lg:ml-0 xl:ml-0 md:ml-7">
                <input
                type="radio"
                class="chkbx10"
                size="none"
                id="chkbx10"
                name="chkbx10"
                (click)="toggleChecked(9)"
                [checked]="isChecked[9]"
              />
              
              <h6><label class="ml-4 sm:text-sm xl:text-base lg:text-base">All</label></h6>
              </div>
            </div>
  
          </div>
          </div>
    
        <div class="flex-grow p-3 border border-l">
          <div class=" lg:flex flex-grow">
        
            <div class="ml-3 mt-2">
              
            </div>
            <div class="sm:flex md:pl-3 lg:pl-0 xl:pl-0">
              <!-- search input -->
            <div>
              <label class="text-base font-medium" style="color: #CC0000;">Search</label><br />
        
              <select class="bg-white border border-gray-400 rounded-lg p-2.5 pr-32 mt-2 sm:pr-24 md:pr-40 flex-grow" style="color: #000000BF;">
                <option class="text-gray-500" value="" disabled selected>Select</option>
                <option value="search">Option 1</option>
                <option value="filter">Option 2</option>
              </select>
            </div>
        
            <!-- value input -->
            <div class="ml-5 flex-grow">
              <label class="text-base font-medium" style="color: #CC0000;">Value</label><br />
        
              <input type="text" placeholder="Enter Here..." class="my-input bg-white border border-gray-400 rounded-lg p-2 pr-10 mt-2 flex-grow">
            </div>
            </div>
        
            <!-- buttons -->
            <div class="xl:p-8 lg:p-8 md:ml-auto flex k-ml-auto sm:pt-3 md:pt-3 md:pl-3 2xl:ml-auto xl:ml-auto lg:ml-auto flex-grow">
              
              <div class="md:ml-auto just items-end flex flex-grow">
                <div class="md:mr-80 xl:mr-0 lg:mr-0  flex-grow">
                  <button class="pl-4 pr-4 p-2 rounded-lg mr-4" style="background-color: #F0F2F7;">
                    Clear
                  </button>
                </div>
                <div class="inline-blockinline-block md:ml-3 xl:ml-0 lg:ml-0 xl:mr-3 md:mr-3 sm:mr-3 flex-grow">
                  <button class="bg-white border p-1.5 pl-3 pr-3 mr-0 rounded-lg flex flex-grow items-center  lg:pr-6" style="color: #29CCB1; border-color: #29CCB1;" (click)="addFilter()">
                    Add&nbsp;Filters
                    <img src="../../../assets/manage_clients/filter -blue.png" class="ml-auto w-5 h-5 mr-2">
                  </button>
                </div>
          
                <div class="relative inline-block">
                  <button class="bg-teal-500 text-white px-4 py-2 text-start rounded-lg flex items-center xl:mt-0" (click)="toggleDropdown()">
                    Action
                    <img src="../../../assets/manage_clients/drop_arrow.png" class="ml-4 mr-2">
                  </button>            
                  <div *ngIf="isDropdownOpen" class="absolute bg-white border border-gray-300 flex-grow mt-2 py-2 rounded-lg shadow-lg">
                    <a href="#" class="block px-6 py-2 text-gray-700 hover:bg-gray-100">Action 1</a>
                    <a href="#" class="block px-6 py-2 text-gray-700 hover:bg-gray-100">Action 2</a>
                    <a href="#" class="block px-6 py-2 text-gray-700 hover:bg-gray-100">Action 3</a>
                  </div>
                </div>
              </div>
             
            </div>
        
          </div>
    
          <!-- table -->
          <div>
            <div class="table-container xl:p-3 sm:pt-3 flex-grow ">
              <table id="tre" class="lg:flex-grow xl:flex-grow md:w-full sm:w-11/12">
                  <thead class="">
                    <tr class="bg-gray-400">
                      <th class="text-start justify-start">
                        <input type="checkbox" class="border-gray-400" size="large" [(ngModel)]="selectAll" (change)="toggleSelectAll()" kendoCheckBox checked #large />
                      </th>
                      <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">Client ID</th> 
                      <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">Sur Name</th>
                      <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">First Name</th>
                      <th  class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">Company Name</th>
                      <th class="text-start xl:text-sm lg:text-sm font-medium sm:text-xs">Email Address</th>
                      <th class="text-start"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <!-- row1 -->
                      <tr *ngFor="let client of paginatedData">
                        <td>
                          <input type="checkbox" class="border-gray-400 " [(ngModel)]="client.selected" size="large" kendoCheckBox checked #large />
                        </td>
                        <td class="xl:text-sm sm:text-xs 2xl:text-lg">{{ client.clientId }}</td>
                        <td  class=" flex">
                            <span class="avatar pt-1 mr-3 font-medium sm:mr-1 sm:text-xs" [style.background-color]="avaColoe(client.surname.charAt(0) )">{{ client.surname.charAt(0) }}</span>
                          <span class="sm:text-xs sm:mt-1.5 sm:ml-0 lg:text-sm lg:ml-2 2xl:text-lg">{{ client.surname }}</span>
                        </td>
                        <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg">{{ client.firstName }}</td>
                        <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg">{{ client.companyName }}</td>
                        <td class="xl:text-sm lg:text-sm sm:text-xs 2xl:text-lg">{{ client.emailAddress }}</td>
                        <td>
                          <img src="../../../assets/manage_clients/table_buton.png" class="cursor-pointer sm:mr-0 sm:w-5 sm:h-5" (click)="togglePanelVisibility(client.clientId)">    
                          
                          <div *ngIf="panel && (client.clientId == panelid)" class="absolute bg-white border border-gray-300 k-min-w-max mt-0 py-3 md:right-16 xl:right-20 2xl:right-32 sm:right-8 rounded-lg shadow-lg pl-5 pr-9">
                              <button (click)="handleEditClick(client.clientId)" class="drpbtn flex py-2 w-full">
                                <img src="../../../assets/manage_clients/edit.png" class="mr-1.5">
                                Edit
                              </button>
                              <button (click)="handleHistoryClick(client.clientId)" class="drpbtn flex my-2 w-full">
                                <img src="../../../assets/manage_clients/history.png" class="mr-1.5">
                                History</button>
                              <button (click)="handleDataUsageClick(client.clientId)" class="drpbtn flex py-2 w-full">
                                <img src="../../../assets/manage_clients/data_usage.png" class="mr-1.5">
                                Data&nbsp;Usage&nbsp;[GDPR]</button>
                              <button (click)="handleSendPasswordClick(client.clientId)" class="drpbtn flex py-2 w-full">
                                <img src="../../../assets/manage_clients/send_password.png" class="mr-1.5">
                                Send&nbsp;Password</button>
                              <button (click)="handleSendUsernameClick(client.clientId)" class="drpbtn flex py-2 w-full">
                                <img src="../../../assets/manage_clients/send_username.png" class="mr-1.5">
                                Send&nbsp;Username</button>
                              <button (click)="handleDeleteClick(client.clientId)" class="drpbtn flex py-2 w-full">
                                <img src="../../../assets/manage_clients/delete-r.png" class="mr-1.5">
                                Delete</button>
                          </div>
                        </td>
                      </tr>
                  </tbody>
                </table>
                
                
                
          </div>

          <!-- pagination of table -->
          <div class="pagination flex justify-between border-t p-2 flex-grow">

            <div class="pagination-info">
                <span class="text-sm">
                    <!-- {{ (currentPage - 1) * itemsPerPage + 1 }} - -->
                    {{ calculateMaxValue() }} 
                    <span class="text-sm text-gray-400">
                      OF
                    {{ totalItems }}
                    </span>
                </span>
            </div>

            <div class="pagination-controls flex">
              <button 
              [disabled]="currentPage === 1" 
              (click)="currentPage = currentPage - 1" 
              class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black mr-4"
              [ngClass]="{'disabled-button': currentPage === 1}"
          >
              <
          </button>
          
               
                <div class="border rounded-md py-1 pl-1.5 pr-1.5">
                <ng-container *ngFor="let page of getPages() | slice:0:4">
                  <button [disabled]="currentPage === page" (click)="currentPage = page" class="pagibtn rounded-md pt-0 pb-0 pr-2 pl-2 text-sm">{{ page }}</button>
              </ng-container>
               </div>

               <button 
               [disabled]="currentPage * itemsPerPage >= totalItems" 
               (click)="currentPage = currentPage + 1"
              class="border border-black rounded-md pl-1.5 pr-1.5 mt-1.5 mb-1.5 text-sm text-black ml-4"
              [ngClass]="{'disabled-button': currentPage * itemsPerPage >= totalItems}"
          >
              >
          </button>
                <!-- <button [disabled]="currentPage * itemsPerPage >= totalItems" (click)="currentPage = currentPage + 1" class="border rounded-md mt-1.5 mb-1.5 pl-1.5 pr-1.5 text-base ml-4">></button> -->
            </div>

            <div class="pagination-jump">
                <span class="text-xs text-gray-400">JUMP TO &nbsp; </span>
                <input type="number" [(ngModel)]="currentPage" min="1" max="{{ totalPages }}" class="border text-center text-xs p-1 mr-2 rounded-lg"/>
                <button (click)="jumpToPage()"></button>
            </div>
        </div>
        
          </div>
        </div>
    </div>
</div>