.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.progress {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 4px;
  background-color: #29CCB1;
}

.editor {
  height: 570px;
}

@media screen and (max-width: 640px) {
  .inputdiv {
    display: block;
    padding-right: 20px;
  }

  .filediv {
    padding-right: 20px;
    background-color: white;
    margin-bottom: 20px;
  }

  .drop-zone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 330px;
    text-align: center;
    cursor: pointer;
  }

  .textareadiv {
    display: block;
    padding-right: 20px;
  }

  .imgdiv {
    margin-left: 0px;
    width: 330px;
  }

  .img2div {
    width: 330px;
  }

  .progress {
    width: 320px;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-top: 10px;
  }

  .editor {
    height: 200px;
    margin-bottom: 40px;
  }

  .btndiv {
    position: relative;
    margin-right: 0px;
  }
}