/* Base styles for all screen sizes */

/* Add any additional global styles here */

@media screen and (max-width: 640px) {
  /* Styles for screens less than or equal to 640px wide */

  /* Adjust specific styles for smaller screens here */
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* Styles for screens between 641px and 768px wide */
  .app-file {
    width: 365px;
  }

  /* Adjust specific styles for medium-sized screens here */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for screens between 769px and 1024px wide */

  /* Adjust specific styles for larger screens here */
}

@media screen and (min-width: 1025px) {
  /* Styles for screens 1025px and wider */

  /* Adjust specific styles for extra-large screens here */
}

@media screen and (max-width: 600px) {
  /* Styles for small screens go here */
  body {
    font-size: 10px; /* Adjust font size for mobile */
    /* Other mobile styles... */
  }
  .card{
    flex:none;
    flex-direction: column;
  }
  .subscriber, .employees, .clients{
    margin-left: 15px;
    width: 90%;
    margin-bottom: 10px;
  }

  .printNewsletter, .emailNewsletter, .unsub{
    margin-left: 15px;
    width: 90%;
    margin-bottom: 10px;
  }

  .graph1,.graph2{
    margin-left: 15px;
    width: 95%;
    height: 30%;
    margin-bottom: 10px;
  }
  .g1,.g2{
    height: fit-content;
    padding-bottom: 10px;
  }

  .info,.file, .learn,.high{
    background-color: white;
    border-radius: 20px;
    margin-left: 15px;
    height: 40%;
    margin-bottom: 10px;
  }
}