<div class="pb-4 flex-grow">
  <!-- cards -->
  <div class="card lg:flex xl:flex 2xl:flex lg:h-fit xl:h-fit 2xl:h-fit mt-4 flex-grow">

    <div class="sm:flex lg:h-44 flex-grow sm:mr-5 lg:mr-0">
      <!-- subscriber btn -->
      <div class="subscriber sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow  bg-white 2xl:mr-6 mr-5 p-2 rounded-lg">
        <div class="flex p-2">
          <h1 class="text-4xl font-medium">{{ subcribers }}</h1>
          <img src="../../assets/dashboard/cards/sub-icon.png" class="ml-auto" />
        </div>
        <h1 class="mt-3 ml-2 text-lg xl:text-xl xl:mb-2">Subscribers</h1>
        <button class="pr-2 pl-2 rounded-lg ml-1 mr-1 text-xs p-0.5 mt-1 xl:text-sm"
          style="background-color: #d7fff8; color: #29ccb1">
          Clients
        </button>
        <label class="text-slate-400 xl:text-sm">|</label>
        <button class="pr-2 pl-2 rounded-lg ml-1 mr-1 text-xs p-0.5 lg:mt-1.5 sm:mt-0 xl:text-sm" style="background-color: #d7fff8; color: #29ccb1">
          Employees
        </button>
      </div>

      <div class="employees sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow bg-white 2xl:mr-6 mr-5 p-2 rounded-lg">
        <div class="flex p-2">
          <h1 class="text-4xl font-medium ">{{ employees }}</h1>
          <img src="../../assets/dashboard/cards/emp.png" class="ml-auto" />
        </div>
        <h1 class="mt-3 ml-2 text-lg xl:text-xl xl:mb-2">Employees</h1>
        <button class="pr-2 pl-2 rounded-lg ml-1 mr-1 text-xs p-0.5 mt-1 xl:text-sm"
          style="background-color: #f3ebf7; color: #a352cc">
          Add New
        </button>
      </div>

      <div class="clients sm:flex-grow sm:mr-5 lg:w-32 lg:mr-6 xl:mr-6 xl:flex-grow 2xl:flex-grow bg-white 2xl:mr-6 mr-5  p-2 rounded-lg">
        <div class="flex p-2">
          <h1 class="text-4xl font-medium">{{ clients }}</h1>
          <img src="../../assets/dashboard/cards/cli.png" class="ml-auto" />
        </div>
        <h1 class="mt-3 ml-2 text-lg xl:text-xl xl:mb-2">Clients</h1>
        <button class="pr-2 pl-2 rounded-lg ml-1 mr-1 text-xs p-0.5 mt-1 xl:text-sm"
          style="background-color: #ebf5ff; color: #3399ff">
          Clients
        </button>
      </div>
    </div>

    <div class=" sm:flex sm:mt-4 lg:h-44 lg:mt-0 flex-grow sm:mr-5 lg:mr-0">

      <div class="printNewsletter sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow bg-white 2xl:mr-6 mr-5  p-2 rounded-lg">
        <div class="flex p-2">
          <h1 class="text-4xl font-medium">{{ printNewsletter }}</h1>
          <img src="../../assets/dashboard/cards/printer.png" class="ml-auto" />
        </div>
        <h1 class="mt-5 ml-2 sm:text-base text-lg xl:text-xl xl:mb-2">Subcribed to Printed Newsletter</h1>
      </div>

      <div class="emailNewsletter sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow bg-white 2xl:mr-6 mr-5 p-2 rounded-lg">
        <div class="flex p-2">
          <h1 class="text-4xl font-medium">{{ emailNewsletter }}</h1>
          <img src="../../assets/dashboard/cards/sms-star.png" class="ml-auto" />
        </div>
        <h1 class="mt-5 ml-2 2xl:text-lg xl:text-xl xl:mb-2">Subcribed to Email Newsletter</h1>
      </div>

      <div class="unsub sm:flex-grow lg:w-32 lg:mr-8 xl:mr-6 xl:flex-grow 2xl:flex-grow bg-white 2xl:mr-6 mr-5 p-2 rounded-lg">
        <div class="flex p-2">
          <h1 class="text-4xl font-medium">{{ unsub }}</h1>
          <img src="../../assets/dashboard/cards/unsub.png" class="ml-auto" />
        </div>
        <h1 class="mt-3 ml-2 2xl:text-lg xl:text-xl xl:mb-2">Unsubcribers</h1>
        <button class="pr-2 pl-2 rounded-lg ml-1 mr-1 text-xs p-0.5 mt-1 xl:text-sm"
          style="background-color: #fff6d7; color: #f2b80c">
          View List
        </button>
      </div>
    </div>
  </div>

  <!-- graph -->
  <div class="md:flex-grow-0 sm:h-fit lg:flex lg:space-x-5 mt-4 mr-5">
    <div class="graph1 sm:mb-5 sm:p-3 bg-white lg:mb-4 lg:h-fit lg:flex-grow  rounded-lg">
      <div class="flex p-1.5">
        <img src="../../assets/dashboard/g1.png" class="w-7 h-7">
        <h1 class="font-medium text-base ml-2 tracking-wider"><strong>Last Newsletter Statistics - Clients</strong></h1>
        <select class="ml-auto mr-2 pl-2 pr-2 border rounded-xl text-sm" style="color: #000000BF;">
          <option class="text-gray-500" value="" disabled selected>Monthly</option>
          <option value="search">Weekly</option>
          <option value="filter">Monthly</option>
          <option>Daily</option>
        </select>
    </div>
    <div class="ml-auto justify-end flex">
      <div class="flex">
        <!-- <label class="pr-3 pl-3 mr-3" style="background-color: #29CCB1;">&nbsp;</label> -->
        <img src="../../assets/dashboard/sent.png" class="h-3 mt-1 mr-3">
        <label class="text-sm items-center mr-3">Sent</label>
      </div>
      <div class="flex">
        <!-- <label class="pr-3 pl-3 mr-3" style="background-color: #A352CC;">&nbsp;</label> -->
        <img src="../../assets/dashboard/dilevered.png" class="h-3 mt-1 mr-3">
        <label class="text-sm items-center mr-3">Dilevered</label>
      </div>
      <div class="flex">
        <!-- <label class="pr-3 pl-3 mr-3" style="background-color: #3399FF;">&nbsp;</label> -->
        <img src="../../assets/dashboard/opened.png" class="h-3 mt-1 mr-3">
        <label class="text-sm items-center mr-3">Opened</label>
      </div>
    </div>
      <kendo-chart class="g1 sm:h-60 sm:rounded-b-lg">
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item type="line" [data]="[123, 276, 310, 212, 240, 156, 98]">
          </kendo-chart-series-item>
          <kendo-chart-series-item type="line" [data]="[165, 210, 287, 144, 190, 167, 212]">
          </kendo-chart-series-item>
          <kendo-chart-series-item type="line" [data]="[56, 140, 195, 46, 123, 78, 95]">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
    
    <div class="graph2 sm:mb-5 sm:p-3 bg-white h-fit lg:flex-grow rounded-lg">
      <div class="flex p-1.5">
        <img src="../../assets/dashboard/g2.png" class="w-7 h-7">
        <h1 class="font-medium text-base ml-2 tracking-wider"><strong>Last Newsletter Statistics - Employees</strong></h1>
        <select class="ml-auto mr-2 pl-2 pr-2 border rounded-xl text-sm" style="color: #000000BF;">
          <option class="text-gray-500" value="" disabled selected>Monthly</option>
          <option value="search">Weekly</option>
          <option value="filter">Monthly</option>
          <option>Daily</option>
        </select>
    </div>
    <div class="ml-auto justify-end flex">
      <div class="flex">
        <!-- <label class="pr-3 pl-3 mr-3" style="background-color: #29CCB1;">&nbsp;</label> -->
        <img src="../../assets/dashboard/sent.png" class="h-3 mt-1 mr-3">
        <label class="text-sm items-center mr-3">Sent</label>
      </div>
      <div class="flex">
        <!-- <label class="pr-3 pl-3 mr-3" style="background-color: #A352CC;">&nbsp;</label> -->
        <img src="../../assets/dashboard/dilevered.png" class="h-3 mt-1 mr-3">
        <label class="text-sm items-center mr-3">Dilevered</label>
      </div>
      <div class="flex">
        <!-- <label class="pr-3 pl-3 mr-3" style="background-color: #3399FF;">&nbsp;</label> -->
        <img src="../../assets/dashboard/opened.png" class="h-3 mt-1 mr-3">
        <label class="text-sm items-center mr-3">Opened</label>
      </div>
    </div>
      <kendo-chart class="g2 sm:h-60 sm:rounded-b-lg">
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item type="line" [data]="[123, 276, 310, 212, 240, 156, 98]">
          </kendo-chart-series-item>
          <kendo-chart-series-item type="line" [data]="[165, 210, 287, 144, 190, 167, 212]">
          </kendo-chart-series-item>
          <kendo-chart-series-item type="line" [data]="[56, 140, 195, 46, 123, 78, 95]">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
  </div>

  <!-- infomailer_&_file&sign -->
  <div class="lg:flex lg:space-x-3 xl:space-x-6 lg:mt-1 mr-5">
    <div class="info sm:bg-white sm:rounded-lg xl:w-4/12 2xl:w-2/5">
      <!-- infomailer -->
      <app-infomailer class="xl:bg-white w-4/12 h-fit rounded-lg"></app-infomailer>
    </div>

    <div class="file sm:bg-white sm:rounded-lg sm:mt-4 lg:mt-0 xl:flex-1">
      <!-- file and sign -->
      <app-file-and-sign class="xl:bg-white h-fit lg:flex-1 xl:flex-1 lg:pt-3 rounded-lg"></app-file-and-sign>
    </div>
  </div>

  <!-- infolearning & high achievers -->
  <div class="lg:flex lg:space-x-6 mt-4 mr-5">
    <div class="learn sm:bg-white sm:rounded-lg xl:flex-1">
      <!-- infolearning -->
      <app-infolearning class="xl:bg-white h-fit lg:flex-1 rounded-lg"></app-infolearning>
    </div> 

    <div class="high sm:bg-white sm:rounded-lg sm:mt-4 lg:mt-0 xl:w-4/12">
      <!-- high achievers -->
      <app-high-achievers class="xl:bg-white w-4/12 h-fit rounded-lg"></app-high-achievers>
    </div> 
 </div>
</div>
